<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    제목 : {{ notice }}
    <br>
    질문 : {{ notice.question }} ?
    <br>
    1번. {{ notice.op1 }} &nbsp&nbsp <input type="checkbox" name="" id=""> 
    <br>
    2번. {{ notice.op2 }} &nbsp&nbsp <input type="checkbox" name="" id=""> 
    <br>
    3번. {{ notice.op3 }} &nbsp&nbsp <input type="checkbox" name="" id=""> 
    <br>
    4번. {{ notice.op4 }} &nbsp&nbsp <input type="checkbox" name="" id=""> 
    <br>
    5번. {{ notice.op5 }} &nbsp&nbsp <input type="checkbox" name="" id=""> 



    
</body>
</html>